{% extends "templated_email/base.html" %}

{% block subject %}You was sign-up{% endblock %}

{% block plain_content %}
    You was sign-up. You have 3 days to activate your account from the link:
    {{ request.scheme }}://{{ request.get_host }}{% url 'api_v1:auth:sign-up-confirm' %}?code={{ user.sign_up_code }}
{% endblock %}

{% block html_content %}
    <tr>
        <td class="td-content-caption" style="padding: 0;margin: 0;font-family: sans-serif;color: #010101;font-size: 18px;line-height: 80px;mso-line-height-rule: exactly;font-style: normal;font-weight: 700;letter-spacing: 0.18px;text-align: left;">
            You was sign-up
        </td>
    </tr>
    <tr>
        <td class="td-content-text" style="padding: 0;margin: 0;padding-right: 3%;font-family: sans-serif;color: #5d5d5d;font-size: 16px;line-height: 22px;mso-line-height-rule: exactly;font-style: normal;font-weight: 300;letter-spacing: 0.16px;text-align: left;">
            <p>
                You have 3 days to activate your account from the link
                <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'api_v1:auth:sign-up-confirm' %}?code={{ user.sign_up_code }}">the link</a>
            </p>
        </td>
    </tr>
{% endblock %}